html,
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.frame {
    width: 1080px;
    height: 800px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
        Droid Sans, Helvetica Neue, sans-serif;
    padding: 20px;
    font-size: 14px;
    border: none;
}

.warning {
    background-color: #df68a2;
    padding: 3px;
    border-radius: 5px;
    color: white;
}

.hidden {
    display: none;
}
.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid rgba(16, 70, 120);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}  

.title{
    position: absolute; /* titol a sobre del canvas */
    transform: translateX(-50%);
    z-index: 10; 
}

h1 {
    left: 8%;
    color: rgb(16, 70, 120);
    padding: 10px;
    font-size: 55px;
}

p {
    position: center;
    color: rgba(16, 70, 120);
    margin: 0;
    padding: 10px;
    font-size: 20px;
}

p2 {
    position: center;
    color: rgba(16, 70, 120);
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}

canvas {
    position: absolute; /* El canvas ocupa todo el fondo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0; /* El canvas está en el fondo */
}

#response{
    background-color: rgb(255, 255, 255);
    color: rgba(30, 30, 30, 0.5);
}
